@import url(../styles/reset.css);

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');


@media screen and (max-width:768px) {
    body {
        margin: 0;
        padding: 0;
    }

    .profile-card {
        width: auto;
    }
}

body {
    font-family: 'Nunito', sans-serif;
    background: url(../assets/imgs/background.jpg);
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: currentColor;
}

#instagram {
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #4f5bd5);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}

#instagram:hover {
    transform: translateY(-10px);
    transition: 0.6s;
}

#linkedin:hover {
    transform: translateY(-10px);
    transition: 0.6s;
}

#github:hover {
    transform: translateY(-10px);
    transition: 0.6s;
}

#linkedin {
    color: rgba(255, 255, 255, 1);
    background-color: #0A66C2;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}

#github {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(14, 14, 14, 0.849);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

h1, h2 {
    font-weight: 700;
    font-size: 30px;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

p {
    font-size: 18px;
    font-weight: 600;
}

span {
    font-weight: 600;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-content: center;
    flex-wrap: wrap;
}

.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    background: linear-gradient(45deg, rgba(251, 255, 0, 0.4), rgba(0, 238, 255, 0.658)), fixed;
    line-height: 1;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    box-shadow: 1px 2px 4px 1px;
    box-sizing: border-box;
    border-radius: 46px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 2px 4px, rgba(0, 0, 0, 0.699);
    z-index: -1;
    background-size: cover;
}

.my-location {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.infos {
    margin-top: 30px;
    display: flex;
    gap: 50px;
    margin-bottom: 35px;
}

.works, .followers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-medias {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}

.buttons {
    display: inline-flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.follow {
    color: whitesmoke;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(45deg, #0A66C2, #4fa5fa);
    border: none;
    border-radius: 36px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.send {
    color: whitesmoke;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(45deg,  #fa7e1e, #d62976);
    border: none;
    border-radius: 36px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.follow:hover {
    color: whitesmoke;
    background: linear-gradient(45deg, #4fa5fa, #0A66C2);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    transform: translateY(-10px);
    transition: 1s;
}

.send:hover {
    color: whitesmoke;
    background: linear-gradient(45deg,  #d62976, #fa7e1e);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    transform: translateY(-10px);
    transition: 1s;
}










